.App{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#444;
}
.result {
  height: 150px;
  background-color: #111;
  width: 100%;
  border-radius: 10px 10px 0 0 ;
}


.result p {
  font-size: 40px;
  margin: 5px;
  color: white;
  padding: 15px;
}

.calculator-body {
  width: 400px;
  margin: auto;
}

.button {
  display: block;
}

button {
  background-color: #555;
  width: 25%;
  height: 80px;
  font-size: 30px;
  cursor:pointer;
  border:1px solid #333;
  color: white;
}
button:hover{
  background-color: #666;
}
.actions{
  background-color: #444;
  color: #ef6431;
}
.actions:hover{
  background-color: #333;
}
.equal{
  background-color: orangered;
  color: white;
}
.equal:hover{
  background-color: rgb(255, 181, 154);
  color: orangered;
}